.navbar {
  justify-content: space-between;
}

#login {
  float: right;
}

.material-icons{
  cursor: pointer;
}

#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

#name-goes-here {
  font-weight: 500; 
  color:rgb(88, 88, 255);
}

#recommendation-goes-here {
  color:rgb(163, 147, 255);
}

#roulette {
  transition-duration: 3s;
  width: 30%; 
  height: 30%;
}

#arrow {
  width: 25px; 
  height: 25px
}

#roulette.animate {
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transform: rotate(1000deg);
}

