.navbar {
  justify-content: space-between;
}

#login {
  float: right;
}

.material-icons{
  float: right; 
  cursor: pointer;
}

#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

#name-goes-here {
  font-weight: 500; 
  color:rgb(243, 255, 174);
}

#recommendation-goes-here {
  color:#85c6ff; 
  font-weight: bold;
  font-size: 25px;
}

.recommend-bar {
  background-color: #2952a2; 
}

#roulette {
  transition-duration: 3s;
  width: 30%; 
  height: 30%;
}

#arrow {
  width: 25px; 
  height: 25px
}

#roulette.animate {
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transform: rotate(1000deg);
}

.card-image {
  object-fit: cover;
}

.getdetails_btn {
  float: right; 
  cursor: pointer;
}

.display-6 {
  text-align: center;
}

.card-footer {
  text-align: center;
}

#back {
  background-color: rgb(78, 163, 170);
  border-color: rgb(78, 163, 170);
}

#back:hover {
  background-color: rgb(101, 212, 222);
  border-color: rgb(101, 212, 222);
}

#next {
  background-color: rgb(52, 103, 147);
  border-color: rgb(52, 103, 147);
  color: white;
}

#next:hover {
  background-color:rgb(73, 154, 225);
  border-color: rgb(73, 154, 225);
}

.app-name {
  color:rgb(243, 255, 174);
  font-size: 38px;
  font-weight: 600;
  font-family: 'DotGothic16', sans-serif;
}

.app-name-color {
  color:rgb(243, 255, 174);
}

#navbarDropdown {
  float:right; 
  color: #eb7878; 
  text-transform: uppercase; 
  font-size: 23px; 
  margin-top: 3px;
}

.navbar {
  background-color: rgb(24, 40, 69);
}

.footer {
  background-color: rgb(24, 40, 69);
  color: aliceblue;
}

#text-reset1 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset2 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset3 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset4 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset5 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset1:hover {
  color:#eb7878; 
}

#text-reset2:hover {
  color:#eb7878; 
}

#text-reset3:hover {
  color:#eb7878; 
}

#text-reset4:hover {
  color:rgb(243, 255, 174);
}

#text-reset5:hover {
  color:rgb(243, 255, 174);
}

#text-reset6 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset7 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset8 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset9 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset10 {
  color:aliceblue;
  text-decoration: none;
}

#text-reset6:hover {
  color:#eb7878; 
}

#text-reset7:hover {
  color:#eb7878; 
}

#text-reset8:hover {
  color:#eb7878; 
}

#text-reset9:hover {
  color:rgb(243, 255, 174);
}

#text-reset10:hover {
  color:rgb(243, 255, 174);
}

.display-5 {
  color:rgb(78, 163, 170);
}

.hero-title {
  color: #eb7878;
}

.btn-info {
  background-color: rgb(78, 163, 170);
  border-color: rgb(78, 163, 170);
}

.btn-info:hover {
  background-color: rgb(101, 212, 222);
  border-color: rgb(101, 212, 222);
}

.btn-primary {
  background-color: rgb(52, 103, 147);
  border-color: rgb(52, 103, 147);
}

.btn-primary:hover {
  background-color:rgb(73, 154, 225);
  border-color: rgb(73, 154, 225);
}

.text-center1 {
  color:rgb(103, 152, 194);
}

.text-body1 {
  color: rgb(78, 163, 170);
}
